<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenShare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScreenShare.Properties.Settings>
            <setting name="Port_HTTP" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="Port_WebSocket" serializeAs="String">
                <value>8081</value>
            </setting>
            <setting name="ScriptsPath" serializeAs="String">
                <value>scripts</value>
            </setting>
        </ScreenShare.Properties.Settings>
    </userSettings>
</configuration>